*.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.hprof
*.iml
*.log
.cxx
.DS_Store
.externalNativeBuild
.gradle/
.idea
!.idea/codeStyles/Project.xml
!.idea/inspectionProfiles/Project_Default.xml
.navigation/
bin/
build/
captures/
gen/
google-services.json
local.properties
out/
vcs.xml
app/release/
