*.aab
*.aar
*.ap_
*.apk
*.class
*.dex
*.hprof
*.iml
*.log
.cxx
.DS_Store
.externalNativeBuild
.gradle/
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/shelf
.idea/tasks.xml
.idea/workspace.xml
.navigation/
bin/
build/
captures/
gen/
google-services.json
local.properties
out/
vcs.xml
app/release/
